<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <h3 class="navbar-brand">The Proposal App</h3>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#about">How this App works</a></li>The 
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div *ngIf="welcomeState;then welcome else proposal">here is ignored</div>
<div class="container">
  <ng-template #welcome>
    <div class="modal show" id="welcomeModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content text-center">
          <div class="modal-header">

            <h2 class="modal-title">Proposal: Build the Regent App as an SPA</h2>
          </div>
          <div class="modal-body">
            <p>Need proof that Single Page Applications are the bomb?
              <br> Turns out there's an app for that.</p>
          </div>
          <div class="modal-footer">

            <div class="row">
              <div class="col-sm-12">
                <div class="text-center">
                  <button class="btn btn-primary" (click)="toggle()"> GO!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


  <ng-template #proposal>

    <app-section-viewer></app-section-viewer>
  </ng-template>

</div>